<div class="row">
	<div class="twelve columns">
		<h1>Stats for labyrinth - Most active IP's</h1>
	</div>
</div>
<table class="u-full-width">
	<thead>
		<tr>
			<th>IP</th>
			<th>Count</th>
		</tr>
	</thead>
	<tbody>
		<% @ips.each do |ip| %>
			<tr>
				<td><%= ip[0] %></td>
				<td><%= ip[1] %></td>
			</tr>
		<% end %>
	</tbody>
</table>