<div class="row">
	<div class="twelve columns">
		<h1>Stats for labyrinth</h1>
		<small><a href="/stats-for-labyrinth">Back</a></small>
	</div>
</div>

<table class="u-full-width">
	<thead>
		<tr>
			<th>Top IP's</th>
			<th>Count</th>
		</tr>
	</thead>
	<tbody>
		<% @ips.each do |ip| %>
			<tr>
				<td><%= link_to ip[0], '/stats-for-labyrinth/ip/' + ip[0].gsub("\.", "_") %></td>
				<td><%= ip[1] %>
			</tr>
		<% end %>
	</tbody>
</table>
<table class="u-full-width">
	<thead>
		<tr>
			<th>Top pages</th>
			<th>Count</th>
		</tr>
	</thead>
	<tbody>
		<% @pages.each do |page, count| %>
			<tr>
				<td><%= page %></td>
				<td><%= count %></td>
			</tr>
		<% end %>
	</tbody>
</table>


