<div class="row">
	<div class="twelve columns">
		<h1>Stats for labyrinth - Most active UA's</h1>
	</div>
</div>
<table class="u-full-width">
	<thead>
		<tr>
			<th>User-agent</th>
			<th>Count</th>
		</tr>
	</thead>
	<tbody>
		<% @uas.each do |ua| %>
			<tr>
				<td><%= ua[0] %></td>
				<td><%= ua[1] %></td>
			</tr>
		<% end %>
	</tbody>
</table>